{% extends 'templates/compact.twig' %}

{% block content %}

    <div class="container">
        <div class="title title-h1">
            Корзина
        </div>

        <div class="card-page">
            <div class="cart-page__layout">
                asdasd
            </div>
        </div>
    </div>

{% endblock %}