{% embed 'templates/base.twig' with {
    title: 'Главная',
    class: {},
} %}
    {% block content %}
        <section class="section">
            <div class="container section__main">
                {% include '@components/breadcrumbs.twig' with {
                    items: [
                        { text: 'Бренды' }
                    ]
                } %}

                <div class="title title-h1">Каталог</div>

                <div class="row g-4">
                    {% for item in 1..20 %}
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            {% include 'item/catalog-item.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}