{% extends 'templates/base.twig' %}

{% set page_settings = {
    compact: true,
    classes: {
        body: 'cart-page',
    },
} %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="section__main">
                <h1 class="title title-h1">
                    Оформление заказа
                </h1>

                <div class="checkout-page__wrapper">
                    <div class="checkout-page__content">
                        <div class="checkout-page__panel">
                            <div class="checkout-page-panel__head">
                                <div class="title title-h4">Покупатель</div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    {% include '@components/forms/input.twig' with {
                                        label: 'Имя *',
                                        type: 'email',
                                        id: 'LoginModalEmail',
                                        required: true
                                    } %}
                                </div>

                                <div class="col-4">
                                    {% include '@components/forms/input.twig' with {
                                        label: 'Фамилия *',
                                        type: 'email',
                                        id: 'LoginModalEmail',
                                        required: true
                                    } %}
                                </div>

                                <div class="col-4">
                                    {% include '@components/forms/input.twig' with {
                                        label: 'Отчество *',
                                        type: 'email',
                                        id: 'LoginModalEmail',
                                        required: true
                                    } %}
                                </div>

                                <div class="col-6">
                                    {% include '@components/forms/input.twig' with {
                                        label: 'Email *',
                                        type: 'email',
                                        id: 'LoginModalEmail',
                                        required: true
                                    } %}
                                </div>

                                <div class="col-6">
                                    {% include '@components/forms/input.twig' with {
                                        label: 'Телефон *',
                                        type: 'text',
                                        id: 'RegistrationPagePhone',
                                        required: true,
                                        class: 'phone'
                                    } %}
                                </div>
                            </div>
                        </div>

                        <div class="checkout-page__panel">
                            <div class="checkout-page-panel__head">
                                <div class="title title-h4">Способ доставки</div>

                                <a href="" class="button button-default">Изменить</a>
                            </div>

                            <div class="row g-3">
                                {% for item in 1..4 %}
                                    <div class="col-6">
                                        <div class="radio-box {{ loop.first ? 'active' : '' }}">
                                            <div class="radio-box__check"></div>

                                            <div class="radio-box__content">
                                                <div class="radio-box__head">
                                                    <div class="radio-box__title title title-h6">Самовывоз</div>

                                                    <span class="radio-box__price">500 ₽</span>
                                                </div>

                                                <img class="radio-box__image" src="https://placehold.co/80x40" alt="">


                                                <div class="radio-box__info">
                                                    Доставка осуществляется в течение дня в удобное для вас время.
                                                </div>

                                                <input type="radio" name="checkout-delivery" id="checkout-delivery-{{ item }}">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="checkout-page__panel">
                            <div class="checkout-page-panel__head">
                                <div class="title title-h4">Способ оплаты</div>

                                <a href="" class="button button-default">Изменить</a>
                            </div>
                        </div>
                    </div>

                    <div class="checkout-page__aside">
                        <div class="checkout-page__panel checkout-page-total">
                            <div class="checkout-page-total__head">
                                <div class="title title-h2">Итого</div>

                                <div>
                                    {% include '@components/@shop/price.twig' with {
                                        price_size: 'xl',
                                    } %}

                                    {% include '@components/@shop/cashback.twig' %}
                                </div>
                            </div>

                            <div class="checkout-page-total-list">
                                {% for item in 1..3 %}
                                    <div class="checkout-page-total-list__item">
                                        <span>НДС (22%, включен в цену):</span>
                                        <span class="{{ loop.last ? 'green' : '' }}">23 500 ₽</span>
                                    </div>
                                {% endfor %}
                            </div>

                            {% include '@components/forms/input.twig' with {
                                type: 'text',
                                icon_right: 'arrow-end',
                                id: 'LoginModalPassword',
                                required: true,
                                size: 'sm',
                                placeholder: 'Есть промокод?',
                            } %}

                            <div class="checkout-page-total__links">
                                <div>
                                    <span>Доставка:</span>

                                    <a href="">Доставка курьером</a>
                                </div>

                                <div>
                                    <span>Оплата:</span>

                                    <a href="">Яндекс.Деньги</a>
                                </div>
                            </div>

                            <div class="checkout-page-total__button">
                                <a href="" class="button button-default button-block button-lg">Оформить заказ</a>
                            </div>
                        </div>

                        <div class="checkout-page__checkboxes">
                            {% include '@components/forms/checkbox.twig' with { label: 'Я согласен(а) с условиями обработки персональных данных', id: 'prop-new', checked: true } %}
                            {% include '@components/forms/checkbox.twig' with { label: 'Я согласен(а) с условиями обработки персональных данных', id: 'prop-new', checked: true } %}
                            {% include '@components/forms/checkbox.twig' with { label: 'Я согласен(а) с условиями обработки персональных данных', id: 'prop-new', checked: true } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}