{% extends 'templates/base.twig' %}

{% block content %}

    <div class="container text-content">
        <ol>
            {% for item in [
                { text: 'Страница товара', link: 'product-single' },
                { text: 'Логин', link: 'login' },
                { text: 'Сбросить пароль', link: 'reset-password' },
                { text: 'Регистрация', link: 'registration' },
                { text: 'Страница блога', link: 'blog-single' },
                { text: 'Сравнение', link: 'compare' },
                { text: 'Акции', link: 'sales' },
                { text: 'Избранные товары', link: 'favorites' },
                { text: 'Бренды', link: 'brands' },
                { text: 'Категория', link: 'catalog-single' },
                { text: 'Категория', link: 'catalog' },
                { text: 'Корзина', link: 'cart' },
                { text: 'Блог', link: 'blog' },
                { text: 'Главная страница', link: 'home' },
            ] %}
                <li>
                    <a href="{{ item.link }}.html">{{ item.text }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}
