{% extends 'templates/base.twig' %}

{% set page_settings = {
    classes: {
        body: 'auth-page',
    },
    breadcrumbs: [
        { text: 'Авторизация', href: 'catalog.html' },
        { text: 'Войти', href: 'cart.html', active: true },
    ]
} %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="section__main auth-page__main">
                <h1 class="title title-h1">
                    Войти
                </h1>

                <div class="auth-page__form">
                    <form class="js-validation-form">
                        {% include '@components/forms/input.twig' with {
                            label: 'Логин *',
                            type: 'text',
                            id: 'login_username',
                            name: 'login',
                            required: true
                        } %}

                        {% include '@components/forms/input.twig' with {
                            label: 'Пароль *',
                            type: 'password',
                            id: 'login_password',
                            name: 'password',
                            required: true,
                        } %}

                        <div class="form-group">
                            {% include '@components/forms/checkbox.twig' with {
                                label: 'Я согласен(а) с условиями обработки персональных данных',
                                id: 'LoginPageRemember',
                                name: 'agreement',
                                required: true,
                                checked: true
                            } %}
                        </div>

                        <button type="submit" class="button button-default button-block button-lg">
                            Войти
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}