{% extends 'templates/base.twig' %}

{% set page_settings = {
    classes: {
        body: 'single-product-page',
    },
    breadcrumbs: [
        { text: 'Авторизация', href: 'catalog.html' },
        { text: 'Восстановление пароля', href: 'cart.html', active: true },
    ]
} %}

{% block content %}

    <div class="container">
        <div class="product-full">
            <div class="product-full__gallery product-full-gallery">
                <div>
                    <div class="product-full-gallery__nav">
                        <div class="swiper js-product-full-thumbs-slider">
                            <div class="swiper-wrapper">
                                {% for item in 1..4 %}
                                    <div class="swiper-slide">
                                    <span>
                                        <img src="https://premier-demo.ru/upload/iblock/124/4aerrwguzei3zg2tory25gftkuetlk5q.jpg"/>
                                    </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="product-full-gallery__main">
                        <div class="swiper js-product-full-main-slider ">
                            <div class="swiper-wrapper">
                                {% for item in 1..4 %}
                                    <div class="swiper-slide">
                                    <span>
                                        <img src="https://premier-demo.ru/upload/iblock/124/4aerrwguzei3zg2tory25gftkuetlk5q.jpg"/>
                                    </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-full__wrapper">
                <div class="product-full__info product-full-info">
                    <div class="product-full-info__top">
                        <div>
                            <div class="product-full__badges product-badges">
                                {% include '@components/ui/badge.twig' with { badge_text: 'Хит', badge_type: 'green', badge_tag: 'div' } %}
                                {% include '@components/ui/badge.twig' with { badge_text: 'Новинка', badge_type: 'orange', badge_tag: 'div' } %}
                                {% include '@components/ui/badge.twig' with { badge_text: 'Советуем', badge_type: 'purple', badge_tag: 'div' } %}
                            </div>

                            <h2 class="product-full__title title title-h3">
                                Набор для создания свечи
                            </h2>
                        </div>

                        <div class="product-full__center">
                            <div class="info-box">
                                <div class="info-box__item">
                                    <div class="info-box__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15"
                                             viewBox="0 0 14 15"
                                             fill="none">
                                            <path d="M6.47327 0.596967C6.64254 0.0676935 7.35746 0.0676942 7.52673 0.596967L8.82832 4.66666C8.90357 4.90195 9.11308 5.06135 9.35005 5.06359L13.4485 5.10223C13.9815 5.10726 14.2024 5.81924 13.774 6.15137L10.48 8.70522C10.2896 8.85288 10.2095 9.11079 10.2807 9.34747L11.5121 13.441C11.6723 13.9734 11.0939 14.4135 10.6598 14.0894L7.32245 11.5981C7.12949 11.4541 6.87051 11.4541 6.67755 11.5981L3.34015 14.0895C2.90612 14.4135 2.32774 13.9734 2.48789 13.441L3.71927 9.34747C3.79047 9.11079 3.71044 8.85288 3.51999 8.70522L0.225976 6.15137C-0.202419 5.81924 0.0185023 5.10726 0.551515 5.10223L4.64995 5.06359C4.88691 5.06135 5.09643 4.90195 5.17168 4.66666L6.47327 0.596967Z"
                                                  fill="#E6AC1A"/>
                                        </svg>
                                    </div>

                                    <span class="info-box__text">9</span>
                                </div>

                                <div class="info-box__item">
                                    <div class="info-box__icon is-comment">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12"
                                             viewBox="0 0 13 12"
                                             fill="none">
                                            <path d="M2.5 10C2.5 10.5523 2.94772 11 3.5 11H7C9.48528 11 11.5 8.98528 11.5 6.5C11.5 4.01472 9.48528 2 7 2C4.51472 2 2.5 4.01472 2.5 6.5V10Z"
                                                  stroke-width="2"/>
                                        </svg>
                                    </div>

                                    <span class="info-box__text">0</span>
                                </div>

                                <div class="info-box__item">
                                    <div class="status">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12" fill="none">
                                            <rect x="1.5" y="1" width="10" height="10" rx="4" fill="#32CB41"
                                                  stroke="#32CB41"
                                                  stroke-width="2"/>
                                            <path d="M3.30469 5.80469L5.51172 8.20312L9.70312 3.80469" stroke="white"
                                                  stroke-width="1.6"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>

                                        <span class="status__text">В наличии</span>
                                    </div>
                                </div>
                            </div>

                            {% include '@components/@shop/actions.twig' with {
                                actions_list: ['favorite', 'wish'],
                                actions_classes: 'product-full__actions',
                            } %}
                        </div>
                    </div>

                    <div class="is-mobile product-full__prices">
                        {% include '@components/@shop/price.twig' with { price_size: 'xl' } %}

                        <small>Цена указана с учётом НДС 22%</small>

                        {% include '@components/@shop/cashback.twig' %}
                    </div>

                    <div class="product-full-info__row">
                        <div class="variant lg">
                            <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                            <div class="variant__list">
                                {% for item in 1..2 %}
                                    <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}">
                                        S
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="product-full-info__row">
                        <div class="variant lg">
                            <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                            <div class="variant__list">
                                {% for item in 1..2 %}
                                    <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}"
                                            style="background-color: #a56ffd">
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="product-full-info__row">
                        <div class="variant lg">
                            <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                            <div class="variant__list">
                                {% for item in 1..4 %}
                                    <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}"
                                            style="background-image: url('https://premier-demo.ru/upload/iblock/ca7/cyah1pp4hju0qyqahn0u32rv5hplyn17.jpg')">
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="product-full-info__row is-desktop">
                        <div class="title title-h7">Характеристики</div>

                        <div class="product-item__props properties">
                            <div class="properties__item">
                                <span>Материал:</span>
                                <span><a href="">Дерево</a>, <a href="">Пластик</a></span>
                            </div>

                            <div class="properties__item">
                                <span>Общая мощность, Вт:</span>
                                <span>12</span>
                            </div>

                            <div class="properties__item">
                                <span>Габариты (ВхШхГ), см:</span>
                                <span>13х34х6</span>
                            </div>

                            <div class="properties__item">
                                <span>Дополнительно:</span>
                                <span>Кодирование звука в MP3 формат</span>
                            </div>
                        </div>

                        <a href="" class="product-full__link">Все характеристики</a>
                    </div>

                    <div class="product-full-info__row is-desktop">
                        <div class="title title-h7">Описание</div>

                        <p class="product-full__description">
                            Создание свечей — последний тренд в мире рукоделия. Сделайте душистые и красивые свечи
                            своими руками.
                        </p>

                        <a href="" class="product-full__link">Все описание</a>
                    </div>
                </div>

                <div class="product-full__end">
                    <div>
                        <div class="product-full__panel">
                            <div class="is-desktop product-full__prices">
                                {% include '@components/@shop/price.twig' with { price_size: 'xl' } %}

                                <small>Цена указана с учётом НДС 22%</small>

                                {% include '@components/@shop/cashback.twig' %}
                            </div>

                            <div class="product-full__buttons">
                                <a href="" class="button button-xl button-default button-block">
                                    В корзину
                                </a>

                                <a href="" class="button button-lg button-transparent-bg button-block">
                                    Купить в 1 клик
                                </a>
                            </div>

                            <div class="product-full__helpers">
                                <div class="status lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12" fill="none">
                                        <rect x="1.5" y="1" width="10" height="10" rx="4" fill="#32CB41"
                                              stroke="#32CB41"
                                              stroke-width="2"/>
                                        <path d="M3.30469 5.80469L5.51172 8.20312L9.70312 3.80469" stroke="white"
                                              stroke-width="1.6"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                    <span class="status__text">В наличии</span>
                                </div>

                                <div class="product-full__links product-full-links">
                                    <a href="" class="product-full-links__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none"
                                             width="16"
                                             height="16">
                                            <path d="M1 5H12C13.6569 5 15 6.34315 15 8V12C15 13.6569 13.6569 15 12 15H4C2.34315 15 1 13.6569 1 12V5Z"
                                                  stroke-width="2" stroke-linejoin="round"/>
                                            <path d="M12 1H4C2.34315 1 1 2.34315 1 4V12" stroke-width="2"
                                                  stroke-linecap="round"/>
                                            <path d="M15 10H10" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"/>
                                        </svg>

                                        <span>Нашли дешевле?</span>
                                    </a>

                                    <a href="" class="product-full-links__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17" fill="none"
                                             width="16"
                                             href="16">
                                            <path d="M1 7C1 5.89543 1.89543 5 3 5H13C14.1046 5 15 5.89543 15 7V7C15 8.10457 14.1046 9 13 9H3C1.89543 9 1 8.10457 1 7V7Z"
                                                  stroke-width="2"/>
                                            <path d="M8 5V16" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"/>
                                            <path d="M8 3V5H10C11.1046 5 12 4.10457 12 3C12 1.89543 11.1046 1 10 1C8.89543 1 8 1.89543 8 3Z"
                                                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M8 3V5H6C4.89543 5 4 4.10457 4 3C4 1.89543 4.89543 1 6 1C7.10457 1 8 1.89543 8 3Z"
                                                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M2 9V14C2 15.1046 2.89543 16 4 16H12C13.1046 16 14 15.1046 14 14V9"
                                                  stroke-width="2" stroke-linecap="round"/>
                                        </svg>

                                        <span>Хочу в подарок</span>
                                    </a>
                                </div>

                                <div class="product-full__notify">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M0 7C0 3.13401 3.13401 0 7 0H9C12.866 0 16 3.13401 16 7V9C16 12.866 12.866 16 9 16H7C3.13401 16 0 12.866 0 9V7ZM7 2C4.23858 2 2 4.23858 2 7V9C2 11.7614 4.23858 14 7 14H9C11.7614 14 14 11.7614 14 9V7C14 4.23858 11.7614 2 9 2H7ZM8 12C8.55229 12 9 11.5523 9 11V8C9 7.44772 8.55229 7 8 7C7.44772 7 7 7.44772 7 8V11C7 11.5523 7.44772 12 8 12ZM8 6C7.44772 6 7 5.55228 7 5C7 4.44772 7.44772 4 8 4C8.55229 4 9 4.44772 9 5C9 5.55228 8.55229 6 8 6Z"/>
                                    </svg>

                                    <span>Реальный цвет товара может отличаться от представленного в зависимости от настроек вашего монитора</span>
                                </div>
                            </div>
                        </div>

                        <div class="product-full-brand">
                            <a href="" class="product-full-brand__logo">
                                <img src="https://premier-demo.ru/upload/iblock/609/zkswirsbbq51mkqrljafnhurvzf97ee8.png"
                                     alt="" width="80">
                            </a>

                            <div class="product-full-brand__links">
                                <a href="" class="button button-sm button-solid">
                                    Все товары
                                </a>

                                <a href="" class="button button-sm button-solid">
                                    Все товары категории
                                </a>
                            </div>

                            <small class="product-full-brand__text">
                                Цена действительна только для интернет-магазина и может отличаться от цен в розничных
                                магазинах
                            </small>
                        </div>

                        <div class="product-full-info__row is-mobile">
                            <div class="title title-h7">Характеристики</div>

                            <div class="product-item__props properties">
                                <div class="properties__item">
                                    <span>Материал:</span>
                                    <span><a href="">Дерево</a>, <a href="">Пластик</a></span>
                                </div>

                                <div class="properties__item">
                                    <span>Общая мощность, Вт:</span>
                                    <span>12</span>
                                </div>

                                <div class="properties__item">
                                    <span>Габариты (ВхШхГ), см:</span>
                                    <span>13х34х6</span>
                                </div>

                                <div class="properties__item">
                                    <span>Дополнительно:</span>
                                    <span>Кодирование звука в MP3 формат</span>
                                </div>
                            </div>

                            <a href="" class="product-full__link">Все характеристики</a>
                        </div>

                        <div class="product-full-info__row is-mobile">
                            <div class="title title-h7">Описание</div>

                            <p class="product-full__description">
                                Создание свечей — последний тренд в мире рукоделия. Сделайте душистые и красивые свечи
                                своими руками.
                            </p>

                            <a href="" class="product-full__link">Все описание</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Купить набор</span>
            </h2>

            <div class="product-kit">
                <div class="product-kit__aside product-kit-general">
                    <div class="product-kit-general__img">
                        <img src="https://premier-demo.ru/upload/iblock/124/4aerrwguzei3zg2tory25gftkuetlk5q.jpg"/>
                    </div>

                    <div>
                        <span class="product-kit-general__count">25 000 ₽ x 1 шт</span>

                        <span class="product-kit-general__name">Косуха из натуральной кожи Коричневый M</span>
                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" id="plus" width="14" height="14">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M8 1C8 0.447715 7.55228 0 7 0C6.44772 0 6 0.447715 6 1V6H1C0.447715 6 0 6.44771 0 7C0 7.55228 0.447715 8 1 8H6V13C6 13.5523 6.44772 14 7 14C7.55228 14 8 13.5523 8 13V8H13C13.5523 8 14 7.55228 14 7C14 6.44772 13.5523 6 13 6H8V1Z"/>
                </svg>

                <div class="product-kit__list">
                    {% for item in 1..2 %}
                        <div class="product-kit__item product-kit-item">
                            <a href="" class="product-kit-item__img">
                                <img class="img-responsive image-rounded-x lazyloaded" loading="lazy" decoding="async"
                                     src="https://premier-demo.ru//upload/resize_cache/iblock/266/48_48_1/hxl42oxlaontvtgopj9qojkzi4lqcs2v.jpg">
                            </a>

                            <div>
                                <a href="" class="product-kit-item__title title title-h6">
                                    Платье с цветами M
                                </a>

                                <div class="product-kit-item__price is-mobile">
                                    3 500 ₽ x 1 шт
                                </div>
                            </div>

                            <div class="product-kit-item__end">
                                <div class="product-kit-item__price is-desktop">
                                    3 500 ₽ x 1 шт
                                </div>

                                <button class="product-kit-item__delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="close-16-16">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L8 6.58579L14.2929 0.292893C14.6834 -0.0976311 15.3166 -0.0976311 15.7071 0.292893C16.0976 0.683417 16.0976 1.31658 15.7071 1.70711L9.41421 8L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L8 9.41421L1.70711 15.7071C1.31658 16.0976 0.683417 16.0976 0.292893 15.7071C-0.0976311 15.3166 -0.0976311 14.6834 0.292893 14.2929L6.58579 8L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 8" id="equal" width="14" height="14">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M11 2C11.5523 2 12 1.55229 12 1C12 0.447716 11.5523 0 11 0H1C0.447716 0 0 0.447715 0 1C0 1.55228 0.447716 2 1 2L11 2ZM11 8C11.5523 8 12 7.55229 12 7C12 6.44772 11.5523 6 11 6L1 6C0.447716 6 0 6.44772 0 7C0 7.55229 0.447716 8 1 8H11Z"/>
                </svg>

                <div class="product-kit__aside">
                    {% include '@components/@shop/price.twig' with {price_size: 'xl'} %}

                    <a href="" class="button button-default button-lg">
                        Купить набор
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <div class="row">
                <div class="col-lg-9 text-content">
                    <p>
                        Не так давно стали популярны мастер-классы по созданию свечей. Кэндлинг, как иначе называют
                        этот процесс, не только эстетичный, но и утилитарный. То есть свечи создаются не только для
                        красоты. Их также используют для создания приятного запаха или романтичной атмосферы в доме.
                    </p>

                    <p>
                        Если вам понравился кэндлинг, но хочется заняться им дома в уютной атмосфере —
                        воспользуйтесь специальным набором. В нем уже есть все необходимые материалы: воск, фитиль с
                        держателем, емкость для плавления, ароматические масла и декоративные элементы. При
                        оформлении заказа выберите желаемый запах будущей свечки. Наличие ароматов можете уточнить у
                        наших менеджеров по телефону.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Характеристики</span>
            </h2>

            {% for item in 1..2 %}
                <div class="properties-main">
                    <div class="properties-main__title title title-h6">Общие характеристики</div>

                    <div class="row">
                        {% for item in 1..5 %}
                            <div class="col-lg-6 properties-main__col">
                                <div class="properties-main__item">
                                    <span>Тип</span>

                                    <a href="">Верхняя одежда</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Отзывы</span>
            </h2>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Оплата</span>
            </h2>

            <div class="text-content">
                <p>
                    Оплачивайте покупки удобным способом. В интернет-магазине доступно 3 варианта оплаты:
                </p>

                <ol>
                    <li>
                        Наличные при самовывозе или доставке курьером. Специалист свяжется с вами в день доставки, чтобы
                        уточнить время и заранее подготовить сдачу с любой купюры. Вы подписываете
                        товаросопроводительные документы, вносите денежные средства, получаете товар и чек.
                    </li>

                    <li>
                        Безналичный расчет при самовывозе или оформлении в интернет-магазине: карты МИР, Visa и
                        MasterCard. Чтобы оплатить покупку, система перенаправит вас на сервер системы ASSIST. Здесь
                        нужно ввести номер карты, срок действия и имя держателя.
                    </li>

                    <li>
                        ЮMoney при онлайн-заказе. Для совершения покупки система перенаправит вас на страницу платежного
                        сервиса. Здесь необходимо заполнить форму по инструкции.
                    </li>
                </ol>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Доставка</span>
            </h2>

            <div class="text-content">
                <p>
                    Оплачивайте покупки удобным способом. В интернет-магазине доступно 3 варианта оплаты:
                </p>

                <ol>
                    <li>
                        Наличные при самовывозе или доставке курьером. Специалист свяжется с вами в день доставки, чтобы
                        уточнить время и заранее подготовить сдачу с любой купюры. Вы подписываете
                        товаросопроводительные документы, вносите денежные средства, получаете товар и чек.
                    </li>

                    <li>
                        Безналичный расчет при самовывозе или оформлении в интернет-магазине: карты МИР, Visa и
                        MasterCard. Чтобы оплатить покупку, система перенаправит вас на сервер системы ASSIST. Здесь
                        нужно ввести номер карты, срок действия и имя держателя.
                    </li>

                    <li>
                        ЮMoney при онлайн-заказе. Для совершения покупки система перенаправит вас на страницу платежного
                        сервиса. Здесь необходимо заполнить форму по инструкции.
                    </li>
                </ol>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span> Вам также может понравиться</span>
            </h2>

            <div class="product-items is-scrollable-mobile" data-view="grid">
                {% for item in 1..5 %}
                    {% include 'item/product/product-item.twig' with { disabled_bottom: true } %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="container section">
        <div class="section__main">
            <h2 class="title title-h2">Вы смотрели</h2>

            <div class="swiper js-products-view-slider">
                <div class="swiper-wrapper">
                    {% for item in 1..10 %}
                        <div class="swiper-slide">
                            {% include 'item/product/product-item-viewed.twig' with {
                                badge: { text: '-10%', type: 'red' }
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-next swiper-arrow"></div>
                <div class="swiper-button-prev swiper-arrow"></div>
            </div>
        </div>
    </section>

{% endblock %}