{% extends 'templates/base.twig' %}

{% set page_settings = {
    classes: {
        body: 'auth-page',
    },
    breadcrumbs: [
        { text: 'Авторизация', href: 'catalog.html' },
        { text: 'Регистрация', href: 'cart.html', active: true },
    ]
} %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="section__main auth-page__main">
                <h1 class="title title-h1">
                    Регистрация
                </h1>

                <div class="auth-page__form">
                    <form class="js-validation-form">
                        <div class="row g-4">
                            <div class="col-12">
                                {% include '@components/forms/input.twig' with {
                                    label: 'Логин *',
                                    type: 'text',
                                    id: 'reg_username',
                                    name: 'login',
                                    required: true
                                } %}
                            </div>

                            <div class="col-12">
                                {% include '@components/forms/input.twig' with {
                                    label: 'Телефон *',
                                    type: 'text',
                                    id: 'reg_phone',
                                    name: 'phone',
                                    required: true,
                                    class: 'phone'
                                } %}
                            </div>

                            <div class="col-12">
                                {% include '@components/forms/input.twig' with {
                                    label: 'Пароль *',
                                    type: 'password',
                                    id: 'reg_password',
                                    name: 'password',
                                    required: true,
                                } %}
                            </div>

                            <div class="col-12">
                                {% include '@components/forms/input.twig' with {
                                    label: 'Подтверждение пароля *',
                                    type: 'password',
                                    id: 'reg_password_confirm',
                                    name: 'password_confirm',
                                    required: true,
                                } %}
                            </div>

                            <div class="col-12">
                                {% include '@components/forms/checkbox.twig' with {
                                    label: 'Я согласен(а) с условиями обработки персональных данных',
                                    id: 'RegistrationPageRemember',
                                    name: 'agreement',
                                    required: true,
                                    checked: true
                                } %}
                            </div>

                            <div class="col-12">
                                <button type="submit" class="button button-default button-block button-lg">
                                    Зарегистрироваться
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}