{% extends 'templates/base.twig' %}

{% set page_settings = {
    classes: {
        body: 'auth-page',
    },
    breadcrumbs: [
        { text: 'Авторизация', href: 'catalog.html' },
        { text: 'Восстановление пароля', href: 'cart.html', active: true },
    ]
} %}

{% block content %}

    <div class="section">
        <div class="container">
            <div class="section__main auth-page__main">
                <h1 class="title title-h1">
                    Восстановление пароля
                </h1>

                <div class="auth-page__form">
                    <form class="js-validation-form row g-4">
                        <div class="col-12">
                            {% include '@components/forms/input.twig' with {
                                label: 'Логин *',
                                type: 'text',
                                id: 'reset_password_login',
                                name: 'login',
                                required: true,
                                info: 'Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.'
                            } %}
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                {% include '@components/forms/checkbox.twig' with {
                                    label: 'Я согласен(а) с условиями обработки персональных данных',
                                    id: 'LoginPageRemember',
                                    name: 'agreement',
                                    required: true,
                                    checked: true
                                } %}
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="button button-default button-block button-lg">
                                Восстановить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}