.bar {
  background-color: rgb(var(--black_bg_black));
  overflow: hidden;

  &__slide {
    display: flex;
    transition: transform .3s ease;
    position: relative;
    width: 100%;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__contact {
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);
    text-decoration: none;
  }

  &__divider {
    min-height: 1px;
    background: rgb(var(--stroke_black));
    display: block;
  }

  &__col {
    &.is-indent {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__catalog {
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    &.is-frozen {
      overflow: visible !important;
    }

    &.is-sub {
      position: absolute;
      width: var(--bs-offcanvas-width);
      max-width: 100%;
      left: 100%;
      background-color: white;
    }
  }
}

.bar-menu {
  &__sub-menu,
  & {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__sub-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 100%; // Relative to parent li
    top: 0;
    bottom: 0;
    background-color: rgb(var(--black_bg_black));
    padding: 20px;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;

    &.is-frozen {
      overflow: visible !important;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
  }

  &__title {
    color: rgb(var(--white_text_black));
    font-size: clamp(1rem, 2vw, 1rem + 2px);
    line-height: calc(1em + 8px);
    font-weight: 500;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 15px;

    stroke: rgb(var(--fill_dark_light));

    svg {
      width: 5px;
      height: 10px;
      transform: translateY(1px);
    }
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(var(--secondary));
    transition: color 0.3s ease;
    stroke: rgb(var(--icon_on_card));

    svg {
      width: 16px;
      height: 17px;
    }

    &:hover {
      color: rgb(var(--settings-theme-primary));
    }
  }

  &__link {
    display: flex;
    padding-left: 12px;
    align-items: center;
    height: 42px;
    text-decoration: none;
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);
    border-radius: var(--settings-main-border-radius);
    justify-content: space-between;
    transition: background-color .3s ease;

    &:hover {
      background-color: rgb(var(--card_bg_active));
    }
  }

  &__chevron {
    fill: rgb(var(--white_text_black));
    width: 35px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--settings-main-border-radius);
    transition: background-color .3s ease;

    &:hover {
      background-color: rgb(var(--card_bg_active));
    }

    svg {
      width: 5px;
      height: 10px;
    }
  }
}

.bar-phone {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 8px;
  position: relative;

  &__value {
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__chevron {
    position: absolute;
    transform: rotate(-90deg);
    top: 50%;
    right: 0;
    width: 5px;
    height: 3px;
  }

  &__label {
    color: rgb(var(--secondary));
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
  }
}

.bar-location {
  align-items: center;
  display: flex;
  gap: 10px;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__value {
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);
  }
}