.section {
  --section-gap: 32px;
  --page-indent: 80px;

  @media (max-width: 991px) {
    --page-indent: 40px;
  }

  &--theme-dark {
    padding-top: var(--page-indent);
    padding-bottom: var(--page-indent);
    background-color: rgb(var(--darkerblack_bg_black));
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);

    .swiper {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    gap: 42px;
    
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__aside {
    flex: 0 0 264px;
    max-width: 264px;
    
    @media (max-width: 991px) {
      display: none;
    }
  }
}