.float-cart {
  &__scroll {
    max-height: 320px;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}

.float-cart-product {
  $self: &;

  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

  &__remove {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease, visibility .3s ease;

    #{$self}:hover & {
      visibility: visible;
      opacity: 0.2;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__image {
    width: 64px;
    height: 64px;
    object-fit: cover;
  }

  &__name {
    font-size: calc(-2px + 1rem);
    line-height: calc(1em + 6px);
    text-decoration: none;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.float-cart-total {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(var(--stroke_black));
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-size: 18px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }

  &__button {
    width: 100%;
  }

  &__info {
    text-align: right;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
    display: flex;
  }
}
