<div class="site-header-action__dropdown float-cart {{ class }}">
    <div class="float-cart__scroll">
        {% for item in 1..10 %}
            <div class="float-cart-product">
                <button type="button" class="float-cart-product__remove">
                    <svg width="18" height="18">
                        <use xlink:href="img/svg-icons.svg#remove"></use>
                    </svg>
                </button>

                <a href="">
                    <picture class="float-cart-product__picture">
                        <img src="https://premier-demo.ru/upload/resize_cache/iblock/c28/64_64_1/uw5p61iophgtnli7sok77hrmswpg2924.jpg"
                             alt=""
                             class="float-cart-product__img"
                        >
                    </picture>
                </a>

                <div class="float-cart-product__info">
                    {% if cart %}
                        {% include '../../shop/price.twig' with {
                            class: 'float-cart-product__price',
                            size: 'md',
                            now: '600 ₽',
                            old: '300 ₽'
                        } %}

                        {% include './cashback.twig' %}
                    {% endif %}

                    <a href="" class="float-cart-product__name">
                        Набор для создания свечи
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="float-cart__total float-cart-total">
        {% if cart %}
            <div class="float-cart-total__top">
                <span class="float-cart-total__title">
                    Итого
                </span>

                <div class="float-cart-total__info">
                    {% include '../../shop/price.twig' with {
                        class: 'float-cart-total__price',
                        size: 'lg',
                        now: '600 ₽',
                        old: '300 ₽'
                    } %}

                    {% include './cashback.twig' %}
                </div>
            </div>
        {% endif %}

        <a href="" class="button button-default button-lg float-cart-total__button">
            Перейти в корзину
        </a>
    </div>
</div>