@use "../abstracts/mixins";

.jumbotron {
  &__wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5%;
    max-width: 50%;

    @media (max-width: 1199px) {
      max-width: 70%;
    }

    @media (max-width: 576px) {
      max-width: 60%;
    }
  }

  &__slide {
    border-radius: var(--settings-main-border-radius);
    overflow: hidden;
    color: #282828;
    padding-top: 34%;
    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 576px) {
      padding-top: 60%;
    }
  }

  &__person {
    position: absolute;
    right: 20%;
    bottom: 0;
    height: 95%;

    @media (max-width: 1199px) {
      right: 5%;
    }

    @media (max-width: 767px) {
      right: -2%;
    }

    @media (max-width: 576px) {
      right: -10%;
    }
  }

  &__title {
    @media (max-width: 767px) {
      font-size: 18px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__button {
    @media (max-width: 576px) {
      --button-height: 35px;
      --button-pl: 10px;
      --button-pr: 10px;

      font-size: 14px;
    }
  }

  &__text {
    margin-top: 15px;
    margin-bottom: 35px;

    @media (max-width: 767px) {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    @media (max-width: 576px) {
      font-size: 12px;

      @include mixins.shorted_text(2);
    }
  }
}