.fast-catalog {
  max-width: var(--settings-layout-container-width);
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  background: rgb(var(--card_bg_black));
  box-shadow: rgba(34, 34, 40, 0.08) 0px 5px 30px;
  border-radius: var(--settings-main-border-radius);
  overflow: auto;
  display: none;

  &__row {
    gap: 32px 12px;
    grid-template-columns: repeat(6, 1fr);
    display: grid;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1199px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__col {
    display: flex;
    gap: 20px;
  }

  &__img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__title {
    font-size: 16px;
    font-weight: var(--settings-typography-weight);
    text-decoration: none;
    line-height: 1.2;
    margin-bottom: 12px;
    display: block;

    &:hover {
      text-decoration: underline;
      text-decoration-color: rgba(var(--white_text_black), 16%);
      text-underline-offset: 0.2px;
    }
  }
}

.fast-catalog-list {
  $self: &;

  display: flex;
  flex-direction: column;
  gap: 8px;

  &__dropdown {
    margin-left: 8px;
    padding-top: 8px;
    flex-direction: column;
    gap: 4px;
    display: none;

    a {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__item {
    display: none;

    #{$self}.show-all & {
      display: block;
    }

    #{$self}:not(.show-all) &:nth-child(-n+5) {
      display: block;
    }

  }

  &__text {
    transition: opacity 0.3s ease;

    &:hover {
      text-decoration-thickness: 1px;
      text-underline-offset: 0.2em;
      text-decoration-style: solid;
      text-decoration: underline;
      text-decoration-color: rgba(var(--white_text_black), 16%);
      opacity: 0.72;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    transform: translateY(-2px);
    transition: transform 0.3s ease;

    &.active {
      transform: rotate(180deg) translateY(1px);
    }
  }

  &__link {
    font-size: calc(1rem - 2px);
    line-height: calc(1em + 6px);
    color: rgb(var(--basic_text_black));

    text-decoration: none;
    stroke: rgb(var(--white_text_black));

    &.is-button {
      background-color: transparent;
      border: none;
      display: inline-flex;
      padding: 0;
      color: rgb(var(--white_text_black));
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: .2em;
      text-decoration-style: dotted;
    }
  }
}