.gallery {
  background-color: #F8F8FC;
  border-radius: var(--settigs-image-border-radius);
  padding-top: 100%;
  position: relative;
  overflow: hidden;

  &__pagination {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 100%;

    span {
      width: 2px;
      height: 2px;
      display: flex;
      background: rgb(var(--secondary));
      border-radius: 8px;

      &.active {
        background-color: rgb(var(--white_text_black));
        width: 8px;
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__picture {
    text-align: center;
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    &.active {
      display: flex;
    }

    img {
      max-height: 100%;

      object-fit: cover;
      max-width: 100%;
      mix-blend-mode: darken;

      pointer-events: none;
      border-radius: var(--settigs-image-border-radius);
    }
  }

  &__dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
  }

  &__dot {
    flex-grow: 1;
    height: 100%;
    width: 20px;
  }
}