.info-box {
  display: flex;
  gap: 6px 12px;
  flex-wrap: wrap;

  svg {
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__text {
    font-size: 12px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-comment {
      stroke: #b8b8b8;
    }
  }
}