.product-item-basket {
  padding: 24px;
  display: flex;
  gap: 24px;
  position: relative;

  border: 1px solid rgb(var(--stroke_black));

  margin-bottom: -1px;

  &:first-child {
    border-top-left-radius: var(--settings-main-border-radius);
    border-top-right-radius: var(--settings-main-border-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--settings-main-border-radius);
    border-bottom-right-radius: var(--settings-main-border-radius);
  }

  @media (max-width: 1299px) {
    flex-direction: column;
  }

  @media (max-width: 991px) {
    padding: 12px;
  }

  &__left {
    display: flex;
    gap: 24px;
    flex-grow: 1;

    @media (max-width: 991px) {
      padding-right: 30px;
    }
  }

  &__badges {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  &__image {
    img {
      width: 105px;
      height: 105px;

      @media (max-width: 991px) {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__title {
    text-decoration: none;
  }

  &__bottom {
    display: flex;
    gap: 42px;

    @media (max-width: 1299px) {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 1299px) {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  &__pric
  s {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    gap: 8px;;
  }

  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__counter {
    flex: 0 0 120px;
    max-width: 120px;
    text-align: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      opacity: 0.5;
      font-size: 12px;
    }
  }
}