<div class="modal fade {{ modal_size }}" id="{% block id %}{% endblock %}" tabindex="-1" aria-labelledby="{% block id %}{% endblock %}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered {% block modal_class %}{% endblock %}">
        <div class="modal-content">
            {% include '@components/ui/close.twig' with {
                dismiss: 'modal'
            } %}

            <div class="modal__layout">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>