{% extends './base.twig' %}

{% block body_class %}page {{ page_class }}{% endblock %}

{% block main_class %}page__main{% endblock %}

{% block content %}
<div class="container">
    <div class="page__head">
        {% include '../components/ui/breadcrumbs.twig' with {
            items: [
                { text: 'Бренды' }
            ]
        } %}

        <h1 class="title title-h1">{% block page_title %}{% endblock %}</h1>

        {% if block('page_text') is not empty %}
            <div class="page__description">
                <div>{{ block('page_text') }}</div>
            </div>
        {% endif %}
    </div>

    <div class="page__wrapper">
        {% if block('page_aside') is not empty %}
            <div class="page__aside">
                <div>
                    {{ block('page_aside') }}
                </div>
            </div>
        {% endif %}

        <div class="page__content">{% block page_content %}{% endblock %}</div>
    </div>
</div>
{% endblock %}