h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--settings-typography-font-family-primary, var(--settings-typography-font-family-secondary)), sans-serif;
  line-height: calc(1em + 8px);
  margin-bottom: 0;
  font-weight: var(--settings-typography-weight);
  color: rgb(var(--white_text_black));
}

h1,
.title-h1 {
  font-size: clamp(1rem + 10px, 3vw, 1rem + 20px);
}

h2,
.title-h2 {
  font-size: clamp(1rem + 8px, 2vw, 1rem + 12px);
}

h3,
.title-h3 {
  font-size: clamp(1rem + 4px, 2vw, 1rem + 8px);
}

h4,
.title-h4 {
  font-size: clamp(1rem + 2px, 2vw, 1rem + 4px);
}

h5,
.title-h5 {
  font-size: clamp(1rem, 2vw, 1rem + 2px);
}

h6,
.title-h6 {
  font-size: 1rem;
}

.title-h7 {
  font-size: calc(1rem - 2px);
  line-height: calc(1em + 6px);
  font-family: var(--settings-typography-font-family-secondary), sans-serif;
}


hr {
  height: 1px;
  margin: 25px 0;
  border: none;
  background: rgb(var(--stroke_black));
  opacity: 1;
}

table {
  width: 100%;

  td,
  th {
    border: 1px solid rgb(var(--stroke_black));
    padding: 12px 16px;
  }

  th {
    font-weight: 400;
  }

  thead {
    background-color: rgb(var(--stroke_black));
    font-size: 14px;
  }
}

.text-content {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 32px 0 16px;
  }

  color: rgb(var(--basic_text_black));

  p {
    margin-bottom: 16px;
    line-height: 1.4;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  ol {
    margin: 12px 0 12px 16px;
  }

  li {
    margin: 8px 0;
  }

  ul ul,
  ul ol,
  ol ul {
    padding-left: 18px;
  }

  ul {
    list-style: none;

    & > li {
      position: relative;

      &::before {
        background-color: rgb(var(--gray-900));
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 4px;
        margin-right: 12px;
        position: relative;
        top: -4px;
        width: 4px;
      }
    }
  }
}

hr.divider {
  margin: 0;
  border: none;
  opacity: 1;
  height: 1px;
  background-color: rgb(var(--stroke_black));
}
