.is-scrollable-mobile {
  @media (max-width: 991px) {
    overflow: auto;

    margin-left: calc(var(--settings-layout-container-indent) * -1);
    margin-right: calc(var(--settings-layout-container-indent) * -1);

    padding-left: var(--settings-layout-container-indent);
    padding-right: var(--settings-layout-container-indent);
  }
}