.cart-page {
  &__layout {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  &__wrapper {
    display: flex;
    gap: 40px;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__totals {
    padding: 24px;
    border: 1px solid rgb(var(--stroke_black));
    border-radius: var(--settings-main-border-radius);
    margin-bottom: 14px;
  }

  &__content {
    flex-grow: 1;
  }

  &__aside {
    @media (min-width: 992px) {
      flex: 0 0 350px;
      max-width: 350px;
    }

    & > div {
      position: sticky;
      top: 15px;
    }
  }

  &__head {
    margin-bottom: 40px;
  }
}

.cart-page-totals {
  &__head {
    display: flex;
    justify-content: space-between;

    .cashback {
      justify-content: flex-end;
      margin-top: 10px;
    }

    & > div {
      &:last-child {

      }
    }

    .price {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }
  }
}