.catalog-page {
  &__wrapper {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 992px) {
      padding-left: 40px;
    }
  }

  &__aside {
    position: relative;

    & > div {
      @media (min-width: 992px) {
        position: sticky;
        top: 120px;
        z-index: 0;
      }
    }

    @media (min-width: 992px) {
      flex: 0 0 260px;
      max-width: 260px;
    }
  }
}