.home-page {
  --home-page-indent: 80px;
  --home-page-layout-indent: 32px;

  @media (max-width: 991px) {
    --home-page-indent: 40px;
    --home-page-layout-indent: 24px;
  }

  .jumbotron {
    margin-top: var(--settings-layout-container-indent);
    margin-bottom: calc(var(--home-page-indent) / 2 * -1);
  }

  &__layout {
    display: flex;
    flex-direction: column;
    gap: var(--home-page-layout-indent);

    .swiper {
      width: 100%;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: var(--home-page-indent);
  }

  &__title {
    text-decoration: none;
    gap: 12px;
    display: inline-flex;
    align-items: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 6px;
      height: 12px;
      stroke: rgb(var(--white_text_black));
      display: block;
      transform: translateY(3px);
    }
  }

  &__description {
    p {
      margin: 0;
    }
  }

  &__seo,
  &__sale {
    padding-top: var(--home-page-indent);
    padding-bottom: var(--home-page-indent);
    background-color: rgb(var(--darkerblack_bg_black));
  }
}

.home-page-viewed-product {
  .swiper-arrow {
    &.swiper-button-next {
      right: 5px;
    }

    &.swiper-button-prev {
      left: 5px;
    }
  }
}