.home-page  {
  &__top {
    display: flex;
    flex-direction: column;
    gap: 42px;

    .swiper {
      width: 100%;
    }
  }

  &__main {
    --page-indent: 80px;

    @media (max-width: 991px) {
      --page-indent: 40px;
    }

    display: flex;
    flex-direction: column;
    gap: var(--page-indent);

    padding-top: var(--settings-layout-container-indent);
    padding-bottom: 80px;
  }

  &__map {
    width: 100%;
    height: 550px;
    border-radius: var(--settings-main-border-radius);
    overflow: hidden;

    @media (max-width: 767px) {
      height: 300px;
    }
  }

  &__title {
    text-decoration: none;
    gap: 12px;
    display: inline-flex;
    align-items: center;
    transition: opacity 0.3s ease;


    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 6px;
      height: 12px;
      stroke: rgb(var(--white_text_black));
      display: block;
      transform: translateY(3px);
    }
  }
}

.home-page-about {
  &__picture {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--settings-main-border-radius);
    }
  }

  &__button {
    margin-top: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 24px;
  }
}

.home-page-viewed-product {
  .swiper-arrow {
    &.swiper-button-next {
      right: 5px;
    }

    &.swiper-button-prev {
      left: 5px;
    }
  }
}