.page {
  &__head {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
    outline: 1px solid red;

    margin-bottom: 42px;

    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }

  &__description {
    color: rgb(var(--lite_basic_text_black));
    line-height: 1.6;

    p {
      margin-bottom: 0;
    }
  }
}