.catalog-card-slider {
  position: relative;

  @media (max-width: 991px) {
    margin-left: calc(var(--settings-layout-container-indent) * -1);
    margin-right: calc(var(--settings-layout-container-indent) * -1);

    padding-left: var(--settings-layout-container-indent);
    padding-right: var(--settings-layout-container-indent);
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 55px;
    margin: 0;

    @media (max-width: 991px) {
      top: 30px;
    }
  }

  .swiper-slide {
    width: 144px;

    @media (max-width: 991px) {
      width: 100px;
    }
  }

  &:not(.is-first) {
    &::before {
      display: block;
    }
  }

  &:not(.is-last) {
    &::after {
      display: block;
    }
  }

  &:before,
  &:after {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    background: rgba(24, 23, 24, 0);
    background: linear-gradient(
                    90deg,
                    rgba(var(--black_bg_black), 0) 0%,
                    rgba(var(--black_bg_black), 1) 100%
    );
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    z-index: 20;
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
    transform: rotate(180deg);
  }
}

.catalog-card {
  $self: &;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  text-decoration: none;

  &__text {
    transition: opacity 0.2s ease;

    #{$self}:hover & {
      opacity: 0.7;
    }
  }

  &__picture {
    width: 144px;
    height: 144px;
    object-fit: cover;
    border-radius: var(--settigs-image-border-radius);

    @media (max-width: 991px) {
      width: 100px;
      height: 100px;
    }
  }
}