@use "../abstracts/mixins";

.post-card {
  height: 100%;
  border-radius: var(--settings-main-border-radius);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: box-shadow ease .3s, border ease .3s, background ease .3s;

  @include mixins.card_hover_shadow_effect;

  &__title {
    @include mixins.shorted_text(3);
  }

  &__date {
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
    color: #8D8D8D;
    margin-top: 15px;
  }

  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    @media (max-width: 991px) {
      padding: 16px;
    }
  }

  &__badge {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__picture {
    height: 275px;

    @media (max-width: 991px) {
      height: 170px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.post-card-bg {
  height: 435px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: var(--settings-main-border-radius);
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 991px) {
    height: 260px;
    padding: 16px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0) 50%);
    z-index: 50;
  }

  & > * {
    position: relative;
    z-index: 50;
  }

  &__title {
    margin-top: auto;
    overflow: hidden;
    word-break: break-word;
    color: #fff;

    @include mixins.shorted_text(3);
  }

  &__date {
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
    color: rgba(255, 255, 255, .72);
    margin-top: 12px;
  }
}

.post-card-grid {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    height: 100%;
  }

  @media (max-width: 991px) {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;

    margin-left: calc(var(--settings-layout-container-indent) * -1);
    margin-right: calc(var(--settings-layout-container-indent) * -1);

    padding-left: var(--settings-layout-container-indent);
    padding-right: var(--settings-layout-container-indent);

    .post-card {
      max-width: 260px;
      width: 260px;
      flex: 0 0 260px;

      &:not(:first-child) {
        margin-left: calc(var(--settings-layout-container-indent) / 2);
      }
    }
  }
}