@use "../abstracts/mixins";

.product-card {
  $self: &;

  display: flex;
  flex-direction: column;

  position: relative;

  @media (min-width: 992px) {
    min-height: 512px;

    &:hover {
      z-index: 100;

      &::before {
        visibility: visible;
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: -12px;
      display: block;
      background: rgb(var(--card_bg_black));
      border-radius: var(--settings-main-border-radius);
      box-shadow: 0 5px 30px rgba(34, 34, 40, .08);
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s ease, visibility .3s ease;
    }
  }

  & > * {
    position: relative;
    z-index: 50;
  }

  &__button {
    margin-top: auto;

    @media (max-width: 991px) {
      margin-top: 15px;
      width: 100%;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 10px;
  }

  &__pagination {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 100%;

    span {
      width: 2px;
      height: 2px;
      display: flex;
      background: rgb(var(--secondary));
      border-radius: 8px;

      &.active {
        background-color: rgb(var(--white_text_black));
        width: 8px;
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__fast-view {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    background-color: color-mix(in oklab, #000 32%, transparent);
    border-color: transparent;
    backdrop-filter: blur(3px);
    line-height: 1em;
    font-weight: 500;
    font-size: .8125rem;
    border-radius: var(--settings-main-border-radius);
    transition: background-color .3s ease, visibility .3s ease, opacity .3s ease;
    z-index: 50;

    #{$self}:hover & {
      visibility: visible;
      opacity: 1;
    }

    &:hover {
      background-color: color-mix(in oklab, #000 40%, transparent);
    }
  }

  &__badges {
    position: absolute;
    left: 12px;
    top: 12px;
    gap: 4px;
    right: 60px;
    flex-wrap: wrap;
    display: flex;
    z-index: 50;
  }

  &__actions {
    position: absolute;
    right: 12px;
    top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 50;
  }

  &__title {
    text-decoration: none;

    @include mixins.shorted_text(3);

    font-weight: 400;
  }

  &__bottom {
    position: absolute;
    display: none;
    top: 100%;
    background: rgb(var(--card_bg_black));
    border-radius: 0 0 var(--settings-main-border-radius) var(--settings-main-border-radius);
    box-shadow: 0 20px 30px rgba(34, 34, 40, .08);
    right: -12px;
    left: -12px;
    padding: 12px;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 992px) {
      #{$self}:hover & {
        display: flex;
      }
    }

    @media (max-width: 991px) {
      display: none !important;
    }
  }
}

.product-card-gallery {
  background-color: #F8F8FC;
  border-radius: var(--settigs-image-border-radius);

  &__picture {
    text-align: center;
    display: none;
    width: 100%;
    height: 329px;
    align-items: center;
    justify-content: center;

    @media (max-width: 991px) {
      height: 260px;
    }

    &.active {
      display: flex;
    }

    img {
      max-height: 100%;

      object-fit: cover;
      max-width: 100%;
      mix-blend-mode: darken;

      pointer-events: none;
      border-radius: var(--settigs-image-border-radius);
    }
  }

  &__dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
  }

  &__dot {
    flex-grow: 1;
    height: 100%;
    width: 20px;
  }
}

.product-card-grid {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 16px;

    @media (max-width: 1300px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));

    }
  }

  @media (max-width: 991px) {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;

    margin-left: calc(var(--settings-layout-container-indent) * -1);
    margin-right: calc(var(--settings-layout-container-indent) * -1);

    padding-left: var(--settings-layout-container-indent);
    padding-right: var(--settings-layout-container-indent);

    .product-card {
      max-width: 260px;
      width: 260px;
      flex: 0 0 260px;

      &:not(:first-child) {
        margin-left: calc(var(--settings-layout-container-indent) / 2);
      }
    }
  }
}