@use "abstracts/mixins";

.compare-item {
  $self: &;

  padding: 16px;
  position: relative;
  border-bottom: 1px solid rgb(var(--stroke_black));
  border-top: 1px solid rgb(var(--stroke_black));
  overflow: hidden;
  margin-bottom: -1px;
  transition: background-color 0.2s ease;

  @media (max-width: 767px) {
    padding: 12px;
  }

  &.is-hovered {
    background-color: rgba(var(--settings-theme-primary), 0.1);
  }

  &__remove {
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    right: 15px;
    top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease, visibility .3s ease;
    fill: rgb(var(--white_text_black));

    #{$self}:hover & {
      visibility: visible;
      opacity: 1;
    }

    svg {
      width: 14px;
      height: 14px;
      opacity: 0.3;
    }
  }

  &__label {
    color: rgb(var(--secondary));
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
  }

  &__value {
    @include mixins.shorted_text(1);
    margin-top: 10px;
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);

    &.is-link {
      @include mixins.link_decoration;
    }
  }
}