@use "abstracts/mixins";

.review-item {
  border: 1px solid rgb(var(--stroke_black));
  padding: 32px;
  border-radius: var(--settings-main-border-radius);

  @media (max-width: 991px) {
    padding: 16px;
  }

  &__head {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(var(--stroke_black));
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 991px) {
      margin-bottom: 24px;
      padding-bottom: 24px;
    }
  }

  &__name {
    margin-bottom: 5px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 5px 15px;
    flex-wrap: wrap;

    & > span {
      font-size: calc(1rem - 3px);
      line-height: calc(1em + 5px);
      color: rgb(var(--secondary));
      position: relative;

      &:not(:last-child) {
        &::after {
          background: rgb(var(--gray_bg_black));
          display: inline-block;
          width: 2px;
          height: 2px;
          border-radius: 50%;
          content: '';
          position: absolute;
          top: 50%;
          right: -8px;
          margin-top: -1px;
        }
      }
    }
  }

  &__link {
    color:  rgb(var(--white_text_black));

    margin-top: 15px;
    display: block;
    font-weight: 500;
    text-decoration: none;

    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);

    &:hover {
      opacity: 0.7;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__text {
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);
    color: rgb(var(--basic_text_black));

    @include mixins.shorted_text(5);

    p {
      height: 110px;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 991px) {
      gap: 12px;
    }
  }

  &__picture {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
}