
{# Footer #}
{% include 'layouts/footer.twig' %}

{# Layout items #}
{% include '@components/fixed-bar.twig' %}

{# Modals #}
{% include 'modals/callback.twig' %}
{% include 'modals/login.twig' %}
{% include 'modals/subscribe.twig' %}
{% include 'modals/product-view.twig' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@26.8.1/build/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>

<script src="js/vendor/bootstrap.js"></script>
<script src="js/main.js"></script>
</body>
</html>
