<div class="post-item-grid {{ post_class }} {{ post_solid ? 'post-item-grid--solid' : '' }}">
    {% include '@components/ui/badge.twig' with {
        text: 'текст',
        type: 'dark-opacity',
        class: 'post-item-grid__badge',
        tag: 'div'
    } %}

    <div class="post-item-grid__picture">
        <img src="https://premier-demo.ru/upload/iblock/c3d/os6fn6gr7erb2gdk1zioizm8ti4rysvw.jpg" alt="{{ title }}">
    </div>

    <div class="post-item-grid__content">
        <span class="post-item-grid__title title title-h6">
            Здоровое питание без глютена: как выбрать и приготовить?
        </span>

        <div class="post-item-grid__date">
            11 мая 2024
        </div>
    </div>

    <a href="blog-single.html" class="post-item-grid__link"></a>
</div>
