.switch {
  $self: &;
  display: flex;
  gap: 12px;
  cursor: pointer;
  user-select: none;
  align-items: center;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:disabled ~ .switch__slider {
      background-color: rgb(var(--lite_bg_black));
      cursor: not-allowed;
    }

    &:disabled ~ .switch__text {
      color: rgb(var(--secondary));
      cursor: not-allowed;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__slider {
    flex-shrink: 0;
    width: 32px;
    height: 16px;
    background-color: rgb(var(--gray_bg_black));
    border: 1px solid transparent;
    border-radius: 16px;
    position: relative;
    transition: all 0.2s ease;

    #{$self}--sm & {
      width: 24px;
      height: 12px;
    }

    #{$self}--lg & {
      width: 40px;
      height: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 12px;
      width: 12px;
      left: 1px;
      bottom: 1px;
      background-color: white;
      border-radius: 50%;
      transition: all 0.2s ease;
      z-index: 2;

      #{$self}--sm & {
        height: 10px;
        width: 10px;
        left: 1px;
        bottom: -0.2px;
      }

      #{$self}--lg & {
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 1px;
      }
    }
  }

  &__input:checked ~ .switch__container {
    .switch__slider {
      background-color: rgb(var(--settings-theme-primary));
      &::before {
        transform: translateX(16px);

        #{$self}--sm & {
          transform: translateX(11px);
        }

        #{$self}--lg & {
          transform: translateX(20px);
        }
      }
    }
    .switch__on {
      opacity: 1;
      visibility: visible;
    }
    .switch__off {
      opacity: 0;
      visibility: hidden;
    }
  }

  &--sm {
    gap: 8px;
  }

  &--lg {
    gap: 14px;
  }

  &__on,
  &__off {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    transition: all 0.2s ease;
    pointer-events: none;
    white-space: nowrap;

    #{$self}--sm & {
      font-size: 10px;
    }

    #{$self}--lg & {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: rgb(var(--white_text_black));

    #{$self}--sm & {
      font-size: 13px;
    }

    #{$self}--lg & {
      font-size: 16px;
    }
  }
}
