/**
 Установки основного цвета темы
 */
@mixin set_main_theme($opacity: 1) {
  color: rgb(var(--settings-theme-primary-text));
  background-color: rgba(var(--settings-theme-primary), $opacity);
}

/**
  Обрезать строку по высоте
 */
@mixin shorted_text ($line_count: 3) {
  -webkit-line-clamp: #{$line_count};
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-line-clamp: #{$line_count};
  overflow: hidden;
  word-break: break-word;
}

@mixin card_hover_shadow_effect {
  border: 1px solid rgb(var(--stroke_black));

  transition: box-shadow .3s ease, border .3s ease;

  &:hover {
    @media (min-width: 992px) {
      box-shadow: 0 5px 30px rgba(34, 34, 40, .08);
      border-color: transparent;
    }
  }
}