.menu-list {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);
    margin-bottom: 8px;

    span {
      opacity: 0.5;
      margin-left: 8px;
      font-weight: 500;
    }
  }
}

.menu-list-item {
  $self: &;

  &__link {
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);

    span {
      opacity: 0.5;
      margin-left: 8px;
      font-weight: 500;
    }

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    text-decoration: none;
    color: rgb(var(--white_text_black));
    border-radius: var(--settings-main-border-radius);
    transition: background-color 0.3s ease;

    &:hover,
    &.active {
      background-color: rgb(var(--card_bg_active));
      color: rgb(var(--white_text_black));
    }

    &.active {
      font-weight: 500;
    }
  }
}