<div class="{{ actions_classes }} actions">

    {% if 'favorite' in actions_list %}
        <button type="button" class="actions-item active">
            <svg class="actions-item__icon" viewBox="0 0 20 20" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M6 3C3.79086 3 2 4.79086 2 7C2 8.21767 2.54286 9.30748 3.40329 10.0427L3.42165 10.0584L9.99989 16.2528L16.5824 10.0549L16.6003 10.0396C17.4586 9.30445 18 8.21598 18 7C18 4.79086 16.2091 3 14 3C12.6922 3 11.531 3.6266 10.7995 4.60019L10 5.66431L9.20051 4.60019C8.46903 3.6266 7.30784 3 6 3ZM0 7C0 3.68629 2.68629 1 6 1C7.53707 1 8.93917 1.57863 10 2.52791C11.0608 1.57863 12.4629 1 14 1C17.3137 1 20 3.68629 20 7C20 8.81571 19.1923 10.4438 17.9199 11.5426L9.99983 18.9998L2.0849 11.5468C0.809798 10.448 0 8.81802 0 7Z"
                      fill="rgb(var(--icon_on_card))"></path>
            </svg>

            <svg class="actions-item__icon" viewBox="0 0 22 22" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M10.9998 21.3734L2.41478 13.2893C0.938727 12.0089 0 10.1131 0 8C0 4.13401 3.13401 1 7 1C8.48691 1 9.86678 1.46494 11 2.25504C12.1332 1.46494 13.5131 1 15 1C18.866 1 22 4.13401 22 8C22 10.1106 21.0635 12.0045 19.5904 13.2848L10.9998 21.3734Z"
                      fill="rgb(var(--white_text_black_reverse))"></path>
            </svg>

            <svg class="actions-item__icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 7C0 3.68629 2.68629 1 6 1C7.53707 1 8.93917 1.57863 10 2.52791C11.0608 1.57863 12.4629 1 14 1C17.3137 1 20 3.68629 20 7C20 8.81571 19.1923 10.4438 17.9199 11.5426L9.99983 18.9998L2.0849 11.5468C0.809798 10.448 0 8.81802 0 7Z"
                ></path>
            </svg>
        </button>
    {% endif %}

    {% if 'wish' in actions_list %}
        <button type="button" class="actions-item active">
            <svg class="actions-item__icon" viewBox="0 0 20 20" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 6C0 2.68629 2.68629 0 6 0H14C17.3137 0 20 2.68629 20 6V14C20 17.3137 17.3137 20 14 20H6C2.68629 20 0 17.3137 0 14V6ZM6 2H14C16.2091 2 18 3.79086 18 6V14C18 16.2091 16.2091 18 14 18H6C3.79086 18 2 16.2091 2 14V6C2 3.79086 3.79086 2 6 2Z"
                      fill="rgb(var(--icon_on_card))"></path>
                <path d="M10 5C9.44771 5 9 5.44772 9 6V14C9 14.5523 9.44771 15 10 15C10.5523 15 11 14.5523 11 14V6C11 5.44772 10.5523 5 10 5Z"
                      fill="rgb(var(--icon_on_card))"></path>
                <path d="M13 8C13 7.44772 13.4477 7 14 7C14.5523 7 15 7.44772 15 8V14C15 14.5523 14.5523 15 14 15C13.4477 15 13 14.5523 13 14V8Z"
                      fill="rgb(var(--icon_on_card))"></path>
                <path d="M6 10C5.44772 10 5 10.4477 5 11V14C5 14.5523 5.44772 15 6 15C6.55228 15 7 14.5523 7 14V11C7 10.4477 6.55228 10 6 10Z"
                      fill="rgb(var(--icon_on_card))"></path>
            </svg>

            <svg class="actions-item__icon" viewBox="0 0 22 22" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M15 22H7C3.13401 22 0 18.866 0 15V7C0 3.13401 3.13401 0 7 0H15C18.866 0 22 3.13401 22 7V15C22 18.866 18.866 22 15 22Z"
                      fill="rgb(var(--white_text_black_reverse))"></path>
            </svg>

            <svg class="actions-item__icon" viewBox="0 0 20 20" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M6 0C2.68628 0 0 2.68628 0 6V14C0 17.3137 2.68628 20 6 20H14C17.3137 20 20 17.3137 20 14V6C20 2.68628 17.3137 0 14 0H6ZM10 5C9.44769 5 9 5.44775 9 6V14C9 14.5522 9.44769 15 10 15C10.5523 15 11 14.5522 11 14V6C11 5.44775 10.5523 5 10 5ZM13 8C13 7.44775 13.4477 7 14 7C14.5523 7 15 7.44775 15 8V14C15 14.5522 14.5523 15 14 15C13.4477 15 13 14.5522 13 14V8ZM5 11C5 10.4478 5.44769 10 6 10C6.55231 10 7 10.4478 7 11V14C7 14.5522 6.55231 15 6 15C5.44769 15 5 14.5522 5 14V11Z"></path>
            </svg>
        </button>
    {% endif %}

    {% if 'cart' in actions_list %}
        <button type="button" class="actions-item">
            <svg class="actions-item__icon" viewBox="0 0 20 20" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 16.0003C2.32829 16.0003 2.99978 16.6721 3 17.5003C3 18.3288 2.32843 19.0003 1.5 19.0003C0.671573 19.0003 0 18.3288 0 17.5003C0.00022158 16.6721 0.67171 16.0003 1.5 16.0003Z"
                      fill="rgb(var(--icon_on_card))"></path>
                <path d="M12.5 16.0003C13.3283 16.0003 13.9998 16.6721 14 17.5003C14 18.3288 13.3284 19.0003 12.5 19.0003C11.6716 19.0003 11 18.3288 11 17.5003C11.0002 16.6721 11.6717 16.0003 12.5 16.0003Z"
                      fill="rgb(var(--icon_on_card))"></path>
                <path d="M17.3818 4.00033C18.8685 4.00033 19.8355 5.56513 19.1709 6.89486L16.3086 12.6185C15.8851 13.4652 15.02 14.0002 14.0732 14.0003H3C2.44772 14.0003 2 13.5526 2 13.0003C2.00022 12.4482 2.44785 12.0003 3 12.0003H14.0732C14.2625 12.0002 14.4359 11.8933 14.5205 11.724L17.3818 6.00033H11C10.4477 6.00033 10 5.55262 10 5.00033C10.0002 4.44823 10.4479 4.00033 11 4.00033H17.3818Z"
                      fill="rgb(var(--icon_on_card))"></path>
                <path d="M2.56348 0.648768C2.75758 0.132133 3.33471 -0.129842 3.85156 0.0638071C4.36838 0.257811 4.63021 0.83495 4.43652 1.35189L3.44336 4.00033H7C7.34644 4.00033 7.66834 4.18033 7.85059 4.47494C8.03262 4.76965 8.04936 5.13773 7.89453 5.4476L5.89453 9.4476C5.64754 9.94158 5.04671 10.1419 4.55273 9.89486C4.05897 9.64778 3.85853 9.04695 4.10547 8.55307L5.38184 6.00033H2C1.67209 6.00027 1.36452 5.83919 1.17773 5.56967C0.991312 5.30019 0.948411 4.95561 1.06348 4.64877L2.56348 0.648768Z"
                      fill="rgb(var(--icon_on_card))"></path>
            </svg>

            <svg class="actions-item__icon" viewBox="0 0 22 22" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 15.9986C14.8804 15.9987 15.9992 17.1189 16 18.4986C16 19.8792 14.8806 20.9985 13.5 20.9986C12.1195 20.9984 11 19.8793 11 18.4986C11.0008 17.1188 12.1197 15.9988 13.5 15.9986Z"
                      fill="var(--white_text_black_reverse)"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M2.62695 1.29742C3.01541 0.263673 4.16917 -0.259373 5.20215 0.127496C6.23604 0.515718 6.76015 1.66931 6.37305 2.70269L5.88672 3.99957H11.9814C11.9876 3.99951 11.9938 3.99859 12 3.99859H18.3818C20.542 3.99876 21.9703 6.20201 21.1514 8.15289L18.2031 14.064C17.6104 15.2491 16.3988 15.9983 15.0732 15.9986H4C2.89569 15.9984 2 15.1032 2 13.9986C2.00021 13.6984 2.06871 13.4144 2.1875 13.1587H2.18066L4.75977 7.99957H3C2.34439 7.99935 1.72903 7.67825 1.35547 7.13921C0.982623 6.60021 0.897174 5.9107 1.12695 5.29742L2.62695 1.29742ZM2.5 15.9986C3.88039 15.9987 4.99923 17.1189 5 18.4986C5 19.8792 3.8806 20.9985 2.5 20.9986C1.11951 20.9984 0 19.8793 0 18.4986C0.000771672 17.1188 1.11971 15.9988 2.5 15.9986Z"
                      fill="var(--white_text_black_reverse)"></path>
            </svg>
        </button>
    {% endif %}
</div>