<div class="cashback {{ class }}">
    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.25 8C7.25 8.64279 7.05939 9.27114 6.70228 9.8056C6.34516 10.3401 5.83758 10.7566 5.24372 11.0026C4.64986 11.2486 3.99639 11.313 3.36596 11.1876C2.73552 11.0622 2.15642 10.7526 1.7019 10.2981C1.24738 9.84358 0.93785 9.26448 0.812448 8.63404C0.687046 8.00361 0.751407 7.35014 0.997392 6.75628C1.24338 6.16242 1.65994 5.65484 2.1944 5.29772C2.72886 4.94061 3.35721 4.75 4 4.75" stroke="#32CB41" stroke-width="1.5"/>
        <circle cx="7" cy="5" r="3.25" stroke="#32CB41" stroke-width="1.5"/>
    </svg>

    <span class="cashback__text">+60 на счет</span>
</div>