.filter {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.filter-item {
  &__head {
    display: flex;
    align-items: center;
    stroke: rgb(var(--white_text_black));
    gap: 8px;
    text-decoration: none;

    &:not(.collapsed) {
      svg {
        transform: rotate(90deg);
      }
    }

    span {
      line-height: 1;
    }
  }

  &__content {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}