.fixed-bar {
  background-color: rgb(var(--black_bg_black));
  overflow: auto;
  padding: 20px;

  &__divider {
    height: 1px;
    background: rgb(var(--stroke_black));
  }

  &__col {
    &.is-indent {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.fixed-bar-menu {
  &__link {
    display: flex;
    padding-left: 12px;
    align-items: center;
    height: 42px;
    text-decoration: none;
    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);
    border-radius: var(--settings-main-border-radius);
    justify-content: space-between;

    &:hover {
      background-color: rgb(var(--card_bg_active));
    }
  }

  &__chevron {
    fill: rgb(var(--white_text_black));
    width: 35px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 3px;
      height: 5px;
    }
  }
}

.fixed-bar-action {
  display: flex;
  height: 42px;
  gap: 8px;
  align-items: center;

  font-size: calc(1rem - 1px);
  line-height: calc(1em + 7px);
  padding-left: 12px;
  padding-right: 12px;

  border-radius: var(--settings-main-border-radius);

  text-decoration: none;

  &:hover {
    background-color: rgb(var(--card_bg_active));
  }

  &__counter {
    font-size: 12px;
    border-radius: 17px;
    text-align: center;
    line-height: 17px;
    min-width: 19px;
    padding: 0 6px;
    white-space: nowrap;
    z-index: 2;
    color: rgb(var(--settings-theme-primary-text));
    background-color: rgba(var(--settings-theme-primary), 1);
  }

  &__counter {
    margin-left: auto;
  }
}