@use "../abstracts/mixins";

.site-header {
  $self: &;

  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;

  position: relative;

  @media (min-width: 992px) {
    padding-top: 5px;
  }

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(var(--stroke_black));
    background-color: rgb(var(--black_bg_black));
    height: 60px;
  }

  .logo {
    color: rgb(var(--settings-theme-primary));
    fill: rgb(var(--fill_dark_light));

    @media (max-width: 991px) {
      svg {
        width: 120px;
        height: 24px;
      }
    }
  }

  &__catalog-btn {
    @media (min-width: 992px) {
      gap: 10px;

      svg {
        fill: rgb(var(--settings-theme-primary-text));

        &:nth-child(2) {
          display: none;
        }
      }

      &.active {

        svg {
          &:first-child {
            display: none;
          }

          &:nth-child(2) {
            display: block;
          }
        }
      }

      &.is-fixed {
        display: none;

        #{$self}--fixed & {
          display: flex;
        }
      }

      &:not(.is-fixed) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px solid rgba(var(--settings-theme-primary-text), 0.1);
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__left {
    display: flex;
    gap: 32px;
    align-items: center;

    @media (max-width: 991px) {
      gap: 20px;
    }

    @media (max-width: 576px) {
      gap: 10px;
    }
  }

  &__burger {
    background-color: transparent;
    width: 25px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border: none;
    fill: rgb(var(--white_text_black));
    display: block;
    padding: 0;

    @media (min-width: 992px) {
      display: none;

      #{$self}--fixed & {
        display: flex;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__catalog {
    position: absolute;
    top: 100%;
    left: calc(var(--settings-layout-container-indent) / 2);
    right: calc(var(--settings-layout-container-indent) / 2);
    height: calc(100vh - 200px);
    max-height: 800px;

    #{$self}--fixed & {
      position: fixed;
      top: 88px;
    }
  }

  &__main {
    z-index: 50;
    position: relative;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;

      @media (max-width: 991px) {
        gap: 16px;
      }
    }

    @media (min-width: 992px) {
      position: relative;

      #{$self}--fixed & {
        box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
        backdrop-filter: blur(10px);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;

        .container {
          height: 88px;
        }

        [data-theme="light"] & {
          background-color: rgba(255, 255, 255, 0.8);
        }

        [data-theme="dark"] & {
          background-color: rgba(34, 34, 34, 0.8);
        }
      }
    }
  }

  &__search {
    flex-grow: 1;

    @media (max-width: 991px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;
      padding: calc(var(--settings-layout-container-indent) / 2) var(--settings-layout-container-indent);
      background: rgb(var(--black_bg_black));
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;

      &.is-active {
        transform: translateY(0);
      }
    }
  }

  &__actions {
    display: flex;
    z-index: 50;
    position: relative;
    gap: 32px;

    @media (max-width: 1199px) {
      gap: 0;
    }
  }

  &__bottom {
    @include mixins.set_main_theme;
    border-radius: var(--settings-main-border-radius);
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
      display: none;
    }
  }
}

.site-header-action {
  $self: &;

  position: relative;

  @media (max-width: 1199px) {
    width: 50px;
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
  }

  @media (max-width: 576px) {
    width: 35px;
  }

  &.disabled-desktop {
    display: none;

    @media (max-width: 991px) {
      display: block;
    }
  }

  &.disabled-mobile {
    display: block;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
  }

  &__dropdown {
    position: absolute;
    border-radius: var(--settings-main-border-radius);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
    top: 100%;
    right: 0;
    background-color: rgb(var(--card_bg_black));
    min-width: 400px;
    display: none;

    @media (max-width: 991px) {
      display: none !important;
    }
  }

  &__top {
    position: relative;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: rgb(var(--white_text_black));
  }

  &__counter {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(57%, -31%);
    font-size: 12px;
    border-radius: 17px;
    text-align: center;
    line-height: 17px;
    min-width: 19px;
    padding: 0 6px;
    white-space: nowrap;
    z-index: 2;

    @include mixins.set_main_theme;
  }

  &__text {
    font-size: .875rem;
    line-height: calc(1rem + 3px);
    padding-top: 7px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;

    @media (max-width: 1199px) {
      display: none;
    }

    #{$self}:hover & {
      opacity: 0.7;
    }
  }
}

.site-header-location {
  display: flex;
  align-items: center;

  &__value {
    font-size: 13px;
    margin-left: 10px;
  }

  &__icon {
    width: 11px;
    height: 11px;
  }
}

.site-header-callback {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  &__value {
    font-size: 13px;
    text-decoration: none;
    transition: opacity 0.3s ease;

    @media (max-width: 1199px) {
      display: none;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.site-header-categories {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;

  .swiper-button-disabled {
    display: none !important;
  }

  .swiper-button-prev {
    svg {
      transform: rotate(180deg);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 32px;
    height: 32px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 50%;
    margin-top: -16px;
    transform: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .07);
    background-color: rgb(var(--black_bg_black));
    stroke: rgb(var(--white_text_black));

    svg {
      width: 8px;
    }

    &:hover {
      background-color: rgb(var(--white_text_black));
      stroke: rgb(var(--black_bg_black));
    }

    &::after {
      display: none;
    }
  }

  .swiper-slide {
    width: initial !important;
    height: 50px;
    display: flex;
    align-items: center;
  }

  &__item {
    color: rgb(var(--settings-theme-primary-text));;
    gap: 8px;
    text-decoration: none;
    transition: color 0.3s ease, opacity 0.3s ease;
    height: 50px;
    display: flex;
    align-items: center;

    &:hover {
      opacity: 0.8;
    }
  }

  &__text {
    font-size: calc(1rem - 1px);
    text-decoration: none;
    line-height: 1;
  }

  &__icon {
    width: 16px;
    height: 16px;
    color: rgb(var(--settings-theme-primary-text));;
  }

  &__main {
    background-image: url(https://premier-demo.ru/upload/uf/c84/5m0k4m3p5irayju4j6l14ezut6ylis7w.jpg);
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;

    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);
    border-radius: 25px;
    text-decoration: none;
  }
}

.site-header.compact {
  border-bottom: 1px solid rgb(var(--stroke_black));
  display: block;

  @media (min-width: 992px) {
    height: initial;
  }

  .contacts-widget__dropdown {
    left: initial;
    right: 0;
  }

  .container {
    @media (max-width: 991px) {
      height: 100%;
    }
  }

  .site-header {
    &__actions {
      @media (min-width: 992px) {
        display: none;
      }
    }

    &__location,
    &__callback {
      @media (max-width: 991px) {
        display: none;
      }
    }

    &__row {
      @media (min-width: 992px) {
        height: 90px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      @media (max-width: 991px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
      }

      & > * {
        @media (min-width: 992px) {
          &:nth-child(2) {
            display: flex;
            justify-content: center;
          }

          &:nth-child(3) {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}