<div class="site-header__callback contacts-widget">
    <div class="contacts-widget__trigger">
        <span class="contacts-widget__trigger-text">
            +7 100 000-00-00
        </span>

        <svg class="contacts-widget__trigger-icon">
            <use xlink:href="img/svg-icons-final.svg#down"></use>
        </svg>
    </div>

    <div class="contacts-widget__dropdown">
        <div class="contacts-widget__col contacts-widget__col--first">
            <a href="tel:+71000000000" class="contacts-widget__phone">
                <span class="contacts-widget__phone-info">
                    <span class="contacts-widget__phone-value">
                        +7 100 000-00-00

                        <svg class="contacts-widget__phone-chevron">
                            <use href="img/svg-icons-final.svg#down"></use>
                        </svg>
                    </span>

                    <span class="contacts-widget__phone-label">
                        Бухгалтерия
                    </span>
                </span>

                <span class="contacts-widget__phone-icon">
                    <img src="https://premier-demo.ru/bitrix/images/aspro.premier/iconset/header_phones/beeline.svg" alt="">
                </span>
            </a>

            <a href="tel:+71000000000" class="contacts-widget__phone">
                <span class="contacts-widget__phone-info">
                    <span class="contacts-widget__phone-value">+7 100 000-00-00</span>

                    <span class="contacts-widget__phone-label">
                        Бухгалтерия
                    </span>
                </span>

                <span class="contacts-widget__phone-icon">
                    <img src="https://premier-demo.ru/bitrix/images/aspro.premier/iconset/header_phones/whatsapp.svg" alt="">
                </span>
            </a>

            <a href="tel:+71000000000" class="contacts-widget__phone">
                <span class="contacts-widget__phone-info">
                    <span class="contacts-widget__phone-value">+7 100 000-00-00</span>
                </span>

                <span class="contacts-widget__phone-icon">
                    <img src="https://premier-demo.ru/bitrix/images/aspro.premier/iconset/header_phones/tele2.svg" alt="">
                </span>
            </a>

            <button type="button" data-bs-toggle="modal" data-bs-target="#CallbackModal" class="button button-default button-sm">
                Заказать звонок
            </button>
        </div>

        <div class="contacts-widget__col contacts-widget__col--last">
            <div class="contacts-widget__contact">
                <span class="contacts-widget__contact-label">
                    E-mail
                </span>

                <a href="mailto:no-reply@chel.premier-demo.ru"
                   class="contacts-widget__contact-value contacts-widget__contact-value--link">
                    no-reply@chel.premier-demo.ru
                </a>
            </div>

            <div class="contacts-widget__contact">
                <span class="contacts-widget__contact-label">
                    Адрес
                </span>

                <span class="contacts-widget__contact-value">
                    Челябинск, ул. Лермонтова 21, 3 этаж, офис 4
                </span>
            </div>

            <div class="contacts-widget__contact">
                <span class="contacts-widget__contact-label">
                    Режим работы
                </span>

                <span class="contacts-widget__contact-value">
                    Пн - Вс: 11.00 - 19.00
                </span>
            </div>

            <div class="contacts-widget__socials">
                <a href="" target="_blank" class="contacts-widget__social-item contacts-widget__social-item--viber" aria-label="Viber"></a>
                <a href="" target="_blank" class="contacts-widget__social-item contacts-widget__social-item--vkontakte" aria-label="VKontakte"></a>
            </div>
        </div>
    </div>
</div>