{% extends 'templates/modal.twig' %}

{% block id %}CallbackModal{% endblock %}

{% block content %}

    <div>
        <div class="title-h3 title">Заказать звонок</div>
        <div class="modal__text">Представьтесь, мы вам перезвоним.</div>
    </div>

    <form class="js-validation-form row g-4">
        <div class="col-12">
            {% include '@components/forms/input.twig' with {
                label: 'Ваше имя *',
                type: 'text',
                id: 'callback_name',
                name: 'name',
                required: true
            } %}
        </div>

        <div class="col-12">
            {% include '@components/forms/input.twig' with {
                label: 'Телефон *',
                type: 'text',
                id: 'callback_phone',
                name: 'phone',
                required: true,
                class: 'phone'
            } %}
        </div>

        <div class="col-12">
            {% include '@components/forms/input.twig' with {
                label: 'Пароль (для проверки)',
                type: 'password',
                id: 'callback_password',
                name: 'password',
                required: true
            } %}
        </div>

        <div class="col-12">
            {% include '@components/forms/checkbox.twig' with {
                label: 'Я согласен(а) с условиями обработки персональных данных',
                id: 'CallbackModalAgreement',
                name: 'agreement',
                required: true,
                checked: true
            } %}
        </div>

        <div class="col-12">
            <button type="submit" class="button button-default button-block button-lg">
                Отправить
            </button>
        </div>
    </form>

{% endblock %}

