{% extends 'templates/modal.twig' %}

{% block id %}LoginModal{% endblock %}
{% block modal_class %}modal-login{% endblock %}

{% block content %}

    <div>
        <div class="title-h3 title">Вход в личный кабинет</div>
    </div>

    <form class="js-validation-form">
        <div class="row g-4">
            <div class="col-12">
                {% include '@components/forms/input.twig' with {
                    label: 'Логин *',
                    type: 'text',
                    id: 'login_modal_username',
                    name: 'login',
                    required: true
                } %}
            </div>

            <div class="col-12">
                {% include '@components/forms/input.twig' with {
                    label: 'Пароль *',
                    type: 'password',
                    id: 'login_modal_password',
                    name: 'password',
                    required: true,
                } %}
            </div>

            <div class="col-12">
                <div class="modal-login__row">
                    {% include '@components/forms/checkbox.twig' with {
                        label: 'Запомнить меня',
                        id: 'LoginModalRemember',
                        name: 'agreement',
                        required: true,
                        checked: true
                    } %}

                    <a href="reset-password.html">Забыли пароль?</a>
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="button button-default button-block button-lg">
                    Войти
                </button>
            </div>
        </div>

        <div class="modal-login__reg">
            Нет аккаунта?
            <a href="registration.html">Зарегистрироваться</a>
        </div>
    </form>

{% endblock %}

