{% extends 'templates/modal.twig' %}

{% block id %}OneClickBuyProduct{% endblock %}
{% block modal_class %}modal-one-click-buy{% endblock %}

{% set modal_size = 'lg' %}

{% block content %}

    <div class="modal-one-click-buy__row">
        <div class="modal-one-click-buy__left">
            <div class="row gx-0 gy-4">
                <div>
                    <img src="https://premier-demo.ru/upload/iblock/c28/uw5p61iophgtnli7sok77hrmswpg2924.jpg"
                         style="width: 100%;">
                </div>

                <div class="row gx-0 gy-2">
                    <a href="product-single.html" class="product-item__title title title-h7">
                        Классическая помада Fior 133 Беспечный розовый
                    </a>

                    <div class="status">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12" fill="none">
                            <rect x="1.5" y="1" width="10" height="10" rx="4" fill="#32CB41" stroke="#32CB41"
                                  stroke-width="2"/>
                            <path d="M3.30469 5.80469L5.51172 8.20312L9.70312 3.80469" stroke="white"
                                  stroke-width="1.6"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                        <span class="status__text">В наличии</span>
                    </div>
                </div>

                <div class="row gx-0 gy-2">
                    {% include '@components/@shop/price.twig' with {
                    } %}

                    {% include '@components/@shop/cashback.twig' with {
                        class: 'product-item__cashback'
                    } %}
                </div>
            </div>
        </div>

        <div class="modal-one-click-buy__right">
            <div class="row gy-4 gx-0">
                <div class="title title-h3">Купить в 1 клик</div>

                <form class="js-validation-form row gy-4 gx-0">
                    {% include '@components/forms/input.twig' with {
                        label: 'Ваше имя *',
                        type: 'text',
                        id: 'one_click_name',
                        name: 'name',
                        required: true
                    } %}

                    {% include '@components/forms/input.twig' with {
                        label: 'Телефон *',
                        type: 'text',
                        id: 'one_click_phone',
                        name: 'phone',
                        required: true,
                        class: 'phone'
                    } %}

                    {% include '@components/forms/input.twig' with {
                        label: 'Email *',
                        type: 'email',
                        id: 'one_click_email',
                        name: 'email',
                        required: true,
                    } %}

                    {% include '@components/forms/textarea.twig' with {
                        label: 'Комментарий к заказу',
                        id: 'one_click_comment',
                        name: 'comment',
                        placeholder: 'Введите ваш комментарий...',
                        rows: 4,
                        size: 'lg'
                    } %}

                    <div class="row g-3">
                        {% include '@components/forms/checkbox.twig' with { label: 'Я согласен(а) с условиями обработки персональных данных', id: 'prop-new', checked: true } %}

                        {% include '@components/forms/checkbox.twig' with { label: 'Я согласен(а) с условиями обработки персональных данных', id: 'prop-new', checked: true } %}

                        {% include '@components/forms/checkbox.twig' with { label: 'Я согласен(а) с условиями обработки персональных данных', id: 'prop-new', checked: true } %}
                    </div>

                    <div class="col-12">
                        <button type="submit" class="button button-default button-block button-lg">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

