<div class="{{ class }} price price-{{ size|default('md') }}">
    <span class="price__now">{{ now|default('1 300 ₽/шт') }}</span>
    <span class="price__old">{{ now|default('1 600 ₽/шт') }}</span>
</div>