<nav class="menu-list">
    {% if title %}
        <a href="" class="menu-list__title">
            {{ title }}

            <span>123</span>
        </a>
    {% endif %}

    <div class="menu-list__wrapper">
        {% for item in items %}
            <div class="menu-list__item menu-list-item">
                <a href="{{ item.href }}" class="menu-list-item__link {% if sm %}sm{% endif%} {{ loop.first ? 'active' : '' }}">
                    {{ item.text }}

                    {% if counter %}
                        <span>123</span>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</nav>


