<div class="catalog-banner-item">
    <img src="https://premier-demo.ru/upload/iblock/917/63i7t3kzcl2l03awdzokmecrfaztjs4p.jpg"
         alt=""
         class="catalog-banner-item__img">

    <div class="catalog-banner-item__content">
        <div class="catalog-banner-item__value">Новинка</div>
        <div class="catalog-banner-item__title title title-h5">Женская парфюмерия</div>

        <div class="catalog-banner-item__actions">
            <a href="" class="button button-sm">Спальные мешки</a>
            <a href="" class="button button-sm">Посуда</a>
        </div>
    </div>
</div>