<a href="" class="category-item">
    <img
            src="https://premier-demo.ru/upload/iblock/b2e/ay221srrr73tkvc5i51e23uy1x9c4qrp.jpg"
            alt=""
            class="category-item__picture"
    >

    <span class="category-item__text title title-h7">
        Хобби и творчество
    </span>
</a>