<div class="jumbotron__slide" style="background-image: url(https://premier-demo.ru/upload/iblock/04e/c4b0gseapzp7hop5a4058aiy52s60onu.jpg)">
    <div class="jumbotron__wrapper">
        <h2 class="jumbotron__title title title-h1">
            Полное погружение в мир виртуальной реальности
        </h2>

        <div class="jumbotron__text">
            Ваш постоянный источник энергии.
            Универсален для любой ситуаций: <br>
            от оснащения электропитанием
        </div>

        <a href="" class="jumbotron__button button button-lg button-default">В каталог</a>
    </div>

    <img src="https://premier-demo.ru/upload/iblock/ca4/9vnae1b2nkshojojds0v4b1cphxyorcp.png"
         class="jumbotron__person"/>
</div>