<nav class="fast-menu-counter">
    <div class="fast-menu-counter__title">
        Все публикации 22

    </div>

    <nav class="fast-menu-counter-list">
        {% for item in [
            'О компании',
            'Сотрудники',
            'Новости',
            'Отзывы',
            'Карьера',
            'Лицензии',
            'Документы',
        ] %}
            <div class="fast-menu-counter-list-item__item">
                <a href="" class="fast-menu-counter-list-item__link {{ loop.last ? 'active' : '' }}">
                    {{ item }}
                    <span>12</span>
                </a>
            </div>
        {% endfor %}
    </nav>
</nav>

