<nav class="fast-menu">
    <div class="fast-menu__title">
        Все публикации <span>22</span>
    </div>

    {% for item in [
        'О компании',
        'Сотрудники',
        'Новости',
        'Отзывы',
        'Карьера',
        'Лицензии',
        'Документы',
    ] %}
        <div class="fast-menu__item fast-menu-item {{ class }}">
            <a href="" class="fast-menu-item__link {{ loop.last ? 'active' : '' }}">
                {{ item }}

                {% if counter %}
                    <span>123</span>
                {% endif %}
            </a>
        </div>
    {% endfor %}
</nav>


